table>thead>tr>th.sorting {
    background-image: url(../../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table>thead>tr>th.sorting.desc {
    background-image: url(../../images/desc.gif);
}
table>thead>tr>th.sorting.asc {
    background-image: url(../../images/asc.gif);
}